<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link id="headerPath" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
</head>
<body>

<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header th:fragment="headerPath" id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <h1 class="text-light"><a href="../index.html">Tshelpa</a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="active" href="../index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../services.html">상품</a></li>
                <li class="dropdown"><a href="#"><span>상품</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">초등</a></li>
                        <li><a href="#">중등</a></li>
                        <li><a href="#">고등</a></li>
                    </ul>
                </li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>
<!-- End Header -->
</body>
</html>